.radio-txt{
    width: 50%;
    margin: 0 auto;

    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 30px;
        text-align: center;
        align-items: center;

    }

    p{
        font-family: 'Muli', sans-serif;
        font-size: 14px;
        color: #fff;
        margin-bottom: 30px;
    }
    
    .radio-txt__icon{
    
       margin-bottom: 30px;
    //    align-items: center;
    //    text-align: center;
    //    justify-content: center;

    //     img{
    //         margin: 0 10px;
    //     ;
    //     }
       ul{ 
        display: flex;
        
        li{
            
            a{
                img{
                    margin: 0 10px;
                    
                    
                }

            } 
        }
       }
     }
 
}

.menu{

    width: 60%;
    margin: 0 auto;

    ul{
        display: flex;

        li{
            a{
                color: #fff;
                font-family: 'Muli';
                font-size: 18px; 
                text-decoration: none;
                padding: 20px;
             }
        }
    }
               
}

