body {
    background-color: $primary;
    
}



.p-bloc--tips {
    margin-bottom: 70px;

    .p-bloc__info {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;

        &__inner {
            width: calc(100% / 4);

            .imgbox {
                
                img {
                    width: 100%;
                    opacity: 60%;
                }
            }

            .txtbox {
               
                width: 280px;
                position: absolute;
                bottom: 0;

                p {
                    padding: 10px;
                    color: $white;
                    font-size: 18px;
                    line-height: 20px;
                    font-family: muli, sans-serif;
                    font-weight: 500;
                }
            }
        }
    }
}


.p-bloc--journal {
    

    .activity {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1200px;

        .card {
            width: calc(90% / 3);
            background-color: $greytwo;
            margin-bottom: 60px;
            .imgbox {
                img {
                    width: 100%;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 30px;
                .user {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    p {
                        color: $whitetwo;
                        font-family: 'muli', sans-serif;
                        font-size: 14px;
                        padding: 10px;
                    }
                }
            }

            
               h5{
                font-size: 18px;
                color: $white;
                font-family: 'muli', sans-serif;
                margin-bottom: 20px;
               }
            
            .date{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                p{
                    color: $date;
                    font-size: 14px;
                    font-family: 'muli', sans-serif;
                }
            }
        }
    }
}